@import "tailwindcss";

:root {
  --background: #fff9e8;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-josefin-sans), sans-serif;
  --font-distrampler: var(--font-distrampler), sans-serif;
  --font-annie: var(--font-annie), sans-serif;
  --color-primary: var(--background);
  --color-brown: #99623b;
  --color-green-gibana: #82bd6a;
  --color-pink: #EF7B82;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff9e8;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
}
